In [2]:
import numpy as np
import pandas as pd

In [12]:
s1 = pd.Series(["agartala", None, "bathinda"], dtype="string")
print(s1.str.count("a"))

0       4
1    <NA>
2       2
dtype: Int64

In [14]:
print(s1.dropna().str.count("a"))

0    4
2    2
dtype: Int64

In [22]:
print(pd.Timestamp("2023-10-15 08:30:00"))

2023-10-15 08:30:00

In [24]:
# PERIOD
print(pd.Period("2023-10", freq='M'))  # 'M' for month

2023-10

In [26]:
# DATE RANGE
print(pd.date_range(start="2023-01-01", periods=3, freq='D'))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq='D')

In [32]:
dates = pd.date_range("2023-10-01", periods=3, freq='D')
temps = [22, 24, 19]
dFrame1 = pd.DataFrame({"Date": dates, "Temperature": temps})
print(dFrame1)

        Date  Temperature
0 2023-10-01           22
1 2023-10-02           24
2 2023-10-03           19

In [35]:
dFrame1 = dFrame1.set_index("Date") 
print(dFrame1)

            Temperature
Date
2023-10-01           22
2023-10-02           24
2023-10-03           19

In [59]:
dates = pd.date_range("2023-10-01", periods=3, freq='D')
temps = [22, 24, 19]
dFrame1 = pd.DataFrame({"Date": dates, "Temperature": temps})
dFrame1 = dFrame1.set_index("Date") 
dFrame1["Yesterday"] = dFrame1["Temperature"].shift(1)
print(dFrame1)
print()

oct_data = dFrame1.loc["2023-10"]  
print(oct_data)
print()
print()

date_range = dFrame1.loc["2023-10-01":"2023-10-02"]
print(date_range)
print()
print()

monthly_avg = dFrame1.resample("ME").mean()
print(monthly_avg["Temperature"])
print()
print()

dFrame1["Hour"] = dFrame1.index.hour      # Extract hour  
dFrame1["DayOfWeek"] = dFrame1.index.dayofweek  # Monday=0, Sunday=6 
print(dFrame1)
print()
print()

            Temperature  Yesterday
Date
2023-10-01           22        NaN
2023-10-02           24       22.0
2023-10-03           19       24.0

            Temperature  Yesterday
Date
2023-10-01           22        NaN
2023-10-02           24       22.0
2023-10-03           19       24.0


            Temperature  Yesterday
Date
2023-10-01           22        NaN
2023-10-02           24       22.0


Date
2023-10-31    21.666667
Freq: ME, Name: Temperature, dtype: float64


            Temperature  Yesterday  Hour  DayOfWeek
Date
2023-10-01           22        NaN     0          6
2023-10-02           24       22.0     0          0
2023-10-03           19       24.0     0          1

In [61]:
dates = pd.Series([pd.Timestamp("2023-10-01"), None, pd.Timestamp("2023-10-03")])
print(dates)

0   2023-10-01
1          NaT
2   2023-10-03
dtype: datetime64[ns]

In [63]:
print(pd.Timedelta("2 days 3 hours 30 minutes"))

2 days 03:30:00

In [65]:
print(pd.Timedelta(days=1.5))
print(pd.Timedelta(weeks=1, hours=5))

1 days 12:00:00
7 days 05:00:00

In [67]:
print(pd.Timedelta("P1DT2H10M"))

1 days 02:10:00

In [70]:
print(type(pd.NaT))
print(type(np.datetime64('NaT')))

<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'numpy.datetime64'>