In [2]:
import numpy as np
import pandas as pd

In [4]:
series1 = pd.Series([10,20,30])
print(series1)

0    10
1    20
2    30
dtype: int64

In [6]:
arr = np.arange(10,31,5)
series = pd.Series(arr)
print(series)

0    10
1    15
2    20
3    25
4    30
dtype: int64

In [8]:
series3 = pd.Series(["Kavi", "Shyam", "Ravi"], index=[3, 5,1])
print(series3)

3     Kavi
5    Shyam
1     Ravi
dtype: object

In [10]:
dict1 = {'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
series5 = pd.Series(dict1)
print(series5)

India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [18]:
# Extra index in a dictionary
dict1 = {'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
series6 = pd.Series(dict1, index = ['India', 'UK', 'Japan', 'France'])
print(series6)

India     NewDelhi
UK          London
Japan        Tokyo
France         NaN
dtype: object

In [16]:
# to_numpy()
arr = series6 .to_numpy()
print(arr)
print(arr.dtype)

['NewDelhi' 'London' 'Tokyo' nan]
object

In [26]:
# Error at Uganda
country_cap_series = pd.Series(['NewDelhi', 'WashingtonDC', 'London', 'Paris'], index=['India', 'USA', 'UK', 'France'])
print(country_cap_series['India'])
# print(country_cap_series[‘Uganda’])

NewDelhi

In [30]:
# By passing the Uganda error using get() --> None
print(country_cap_series.get('France'))
print(country_cap_series.get('Uganda'))

Paris
None

In [44]:
# iloc
print(country_cap_series.iloc[0])
print(country_cap_series.iloc[-1])
print(country_cap_series.iloc[1:3])

NewDelhi
Paris
USA    WashingtonDC
UK           London
dtype: object

In [46]:
print(country_cap_series[['UK','USA']])

UK           London
USA    WashingtonDC
dtype: object

In [50]:
# Updating the index once again 
country_cap_series.index = [10, 20, 30, 40]
print(country_cap_series)

10        NewDelhi
20    WashingtonDC
30          London
40           Paris
dtype: object

In [52]:
country_cap_series.index = ['India', 'USA', 'UK', 'France']
print(country_cap_series[1: 3])

USA    WashingtonDC
UK           London
dtype: object

In [56]:
# Last element also gets printed in the slicing by changes indices
print(country_cap_series['USA' : 'France'])

USA       WashingtonDC
UK              London
France           Paris
dtype: object

In [66]:
# Slicing can be used to modify values as well, excludes last value in deafult labelling 
seriesAlph = pd.Series(np.arange(10, 16, 1), index = ['a', 'b', 'c', 'd', 'e', 'f'])
seriesAlph[1:3] = 50
print(seriesAlph)

a    10
b    50
c    50
d    13
e    14
f    15
dtype: int64

In [70]:
# Attributes of the series
# 1. name: assigns a name to the Series
# 2. index.name: assigns a name to the index of the series
# 3. values: prints a list of the values in the series
# 4. size: prints the number of values in the Series object
# 5. empty: prints True if the series is empty, and False otherwise

In [74]:
s = pd.Series([100, 200, 300])
s.name = "Salary"
print(s)

0    100
1    200
2    300
Name: Salary, dtype: int64

In [76]:
s.index.name = "EmpID"
print(s)
print(s.values)	# [100 200 300]
print(s.size)	# 3

EmpID
0    100
1    200
2    300
Name: Salary, dtype: int64
[100 200 300]
3

In [78]:
empty_series = pd.Series([])
print(empty_series.empty)  # True

True

In [80]:
# METHODS IN SERIES
# 1. head(n)
# 2. tail(n)
# 3. count()

In [96]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

print("First 2 elements of s1 (head(2)):\n", s1.head(2))

First 2 elements of s1 (head(2)):
 A    10.0
B    20.0
dtype: float64

In [88]:
print("Last 3 elements of s2 (tail(3)):\n", s2.tail(3))

Last 3 elements of s2 (tail(3)):
 D    3
E    4
F    5
dtype: int64

In [92]:
print("Number of non-NaN values in s1 (count()):", s1.count())

Number of non-NaN values in s1 (count()): 3

In [99]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

add_default = s1 + s2
print("s1 + s2 (default NaN handling):\n", add_default)

s1 + s2 (default NaN handling):
 A     NaN
B    21.0
C     NaN
D    43.0
E     NaN
F     NaN
dtype: float64

In [101]:
s1 = pd.Series([10, 20, np.nan, 40], index=['A', 'B', 'C', 'D'])
s2 = pd.Series([1, 2, 3, 4, 5], index=['B', 'C', 'D', 'E', 'F'])

add_filled = s1.add(s2, fill_value=0)
print("\ns1 + s2 (with fill_value=0):\n", add_filled)

s1 + s2 (with fill_value=0):
 A    10.0
B    21.0
C     2.0
D    43.0
E     4.0
F     5.0
dtype: float64

In [105]:
ar_1 = np.array([10, np.nan, 20, 30, 40])
print(ar_1)
print(ar_1.dtype)

[10. nan 20. 30. 40.]
float64

In [111]:
ar_2 = np.array(['Google', np.nan, 'Meta', 'Amazon', 'Apple'])
print(ar_2)
print(ar_2.dtype) # String

['Google' 'nan' 'Meta' 'Amazon' 'Apple']
<U32

In [115]:
ar_3 = np.array([np.nan, {'name': 'Google'}, 123])
print(ar_3)
print(ar_3.dtype) # Object

[nan {'name': 'Google'} 123]
object

In [125]:
# isnan()
ar_4 = np.array([1, np.nan, 4, 8, 13])
print(np.isnan(ar_4))

[False  True False False False]

In [129]:
# Mathematical Operations
print("The sum of all element is", np.sum(ar_4))
print("The maximum among of all element is", np.max(ar_4))
print("The minimum among of all element is", np.min(ar_4))
print()
print("The index of minimum among of all element is", np.argmin(ar_4))
print("The index of maximum among of all element is", np.argmax(ar_4))

The sum of all element is nan
The maximum among of all element is nan
The minimum among of all element is nan

The index of minimum among of all element is 1
The index of maximum among of all element is 1

In [133]:
# By passing NaN in Mathematical Operations
print("The sum of all element is", np.nansum(ar_4))
print("The maximum among of all element is", np.nanmax(ar_4))
print("The minimum among of all element is", np.nanmin(ar_4))
print()
print("The index of minimum among of all element is", np.nanargmin(ar_4))
print("The index of maximum among of all element is", np.nanargmax(ar_4))

The sum of all element is 26.0
The maximum among of all element is 13.0
The minimum among of all element is 1.0

The index of minimum among of all element is 0
The index of maximum among of all element is 4

In [137]:
# Comparison of np.nan with itself
a = np.nan
b = np.nan
print(a == b)
print(a is b)

False
True

In [139]:
ar_5 = np.array(["Alice", "Bob", None])
print(ar_5)
print(ar_5.dtype)

['Alice' 'Bob' None]
object

In [145]:
ar_6 = np.array([1, 2, 3, None])
# print(np.sum(ar_6))     #Error
# print(np.nansum(ar_6))	#Error

In [147]:
a = None
b = None
print(a == b)	#True
print(a is b)	#True

True
True